  <div class="d-flex justify-content-between align-items-center p-4">
<h1>login</h1>
</div>
    <div class="row d-flex flex-column justify-content-center p-4">
         <div class="col-6 border border-primary-subtle border-3 rounded ">
        <form action="/api/session/login" method="post">
            <div class="row pt-2 ">
                    <div class="col mb-3">
                        <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" name="email"> 
            </div>
                    <div class="col-3 mb-3">
                        <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" name="password"> 
            </div>
                <div class="row">
                    <div class="col mb-3">
                    <button type="submit" class="btn btn-primary">Cargar</button>
                </div>
            </div>
        </form>
    <a href="/login-github">Iniciar sesión con Github</a>
<a href="/register">No tenes usuario? Registrate</a>
   </div>
</div>
