
   <div class="d-flex justify-content-between align-items-center p-4">
     
         <h1>Este es mi carrito</h1>
   </div>
   <div class="col-12 d-flex flex-wrap justify-content-center p-4">
    </div>